<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Slacker News{% endblock %}</title>
		<meta charset='utf-8'>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, target-densitydpi=200" />
		<link href='http://fonts.googleapis.com/css?family=Oswald:400|Roboto:400,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/layout.css" />
		<script src="/js/main.js"></script>
		<script src="/js/share.js"></script>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<div class="header">
				<a href='/'><h1>Slacker News</h1></a>
				<b>The place for <span id="forwhom">slacking coders</span></b>
				<div class='links'>
					<a href="/random">RNG</a>
				</div>
			</div>

			<div class="content">
				{% block content %}
				Default
				{% endblock %}
			</div>
		</div>
	</body>
</html>
