{% extends "layout.html" %}

{% block title %}{{ post.title }} - FizzFeed{% endblock %}

{% block content %}
<div class="share">
    <a href="javascript:share('fb');"><img src="/facebook_button.png"></a>
    <a href="javascript:share('tw');"><img src="/twitter_button.png"></a>
    <a href="javascript:share('gp');"><img src="/gplus_button.png"></a>
</div>
<div class="post">
    <a href="/post/{{ post.link }}"><h2>{{ post.title }}</h2></a>
    {% autoescape false %}{{ post.body }}{% endautoescape %}
</div>
{% endblock %}
