{% extends "layout.html" %}

{% block title %}{{ post.title }} - Slacker News{% endblock %}

{% block content %}
<div class="share">
	<a href=""><img src="/facebook_button.png"></a>
	<a href=""><img src="/twitter_button.png"></a>
	<a href=""><img src="/gplus_button.png"></a>
</div>
<div class="post">
    <a href="/post/{{ post.link }}"><h2>{{ post.title }}</h2></a>
    {% autoescape false %}{{ post.body }}{% endautoescape %}
</div>
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'slackernews';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        // * edits below line*
        (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endblock %}
