{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/ext/quill.snow.css" type="text/css" />
	<script src="/ext/quill.min.js"></script>
{% endblock %}

{% block content %}

<form method='post' action='/submit' onsubmit="body.value = editor.getHTML()">
  <input type="text" value="{{ post.title }}" name="title" placeholder="Title" class="title"><br>
  <img class="thumbnail" id="imgthumb">
  <textarea name="description" class="description">{{ post.description }}</textarea>

  <input type="text" name="img" value="{{ post.img }}" id="imgtxt"><br>
  <input type="hidden" name="link" value="{{ post.link }}"><br>
  <input type="hidden" name="key" value="{{ key }}"><br>
  <textarea name="body" id="editor_body" class="body">{% autoescape false %}{{ post.body }}{% endautoescape %}</textarea>
  <input type="submit" value="Submit">
</form>

<input type="file" id="filechooser" name="upload" />
<br>
<input type="button" onclick="ajaxUpload('thumb')" value="Make thumbnail" />
<input type="button" onclick="ajaxUpload('insert')" value="Insert img" />

<script>
var editor = new Quill('#editor');
editor.addModule('toolbar', { container: '#toolbar' });
editor.addModule('image-tooltip');
editor.addModule('link-tooltip');

function insertAtEnd(html) {
  editor.setHTML(editor.getHTML() + html);
}

function makeThumb(img) {
  document.getElementById("imgtxt").value = img;  
  document.getElementById("imgthumb").src = img;  
}
</script>
{% endblock %}

