body {
	background: #efefef;
	color: #333;
	font-family: Roboto;
}

.wrapper {
	width: 1000px;
	min-height: 800px;
	display: block;
	position: relative;
	margin: auto;
	background: #fff;
}

.header {
	position: relative;
	border-bottom: solid 1px #aaa;
	padding-bottom: 10px;
	margin-bottom: 20px;
	padding: 15px;
	background: rgb(255, 100, 0);
	color: #fff;
}

.header h1 {
	font-size: 60px;
	font-family: 'Oswald';
	margin: 0;
	color: rgb(255, 255, 255);
}

.header a {
	text-decoration: none;
}

.header .links {
	position: absolute;
	right: 15px;
	top: 12px;
	font-weight: 800;
}

.header .button {
	display:inline-block;
	border-radius: 100px;
	color: #fff;
	width: 100px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
	font-size: 20px;
}

.content {
	padding: 0px 15px;
}

.post a {
	text-decoration: none;
	color: #333;
}

.post h2 {
	font-size: 30px;
}

.body-editor {
	border: solid 1px #999;
}

