body {
	background: #efefef;
	color: #333;
	font-family: Roboto;
}

.wrapper {
	width: 1000px;
	min-height: 800px;
	display: block;
	position: relative;
	margin: auto;
	background: #fff;
	border: solid 1px #ccc;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
	position: relative;
	border-bottom: solid 1px #aaa;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.header h1 {
	font-size: 60px;
	font-family: 'Oswald';
	margin: 0;
	color: rgb(0, 143, 255);
}

.header a {
	text-decoration: none;
}

.header .links {
	position: absolute;
	right: 0px;
	top: 0px;
}

.header .button {
	display:inline-block;
	border-radius: 100px;
	background: rgb(0, 143, 255);
	color: #fff;
	width: 100px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
	margin-right: 10px;
	text-decoration: none;
	font-size: 20px;
}

.post a {
	text-decoration: none;
	color: #333;
}

.post h2 {
	font-size: 30px;
}

